$body-bg: #F7F7F7;
$body-color: #000;
$app-min-width: 1024px;


$theme-colors: (
  "primary": #0091FF, "secondary": #b4b4b4,  "danger": #CB3434, "success": #008D42
);

$colors: (
        white: #ffffff,
        black: #000000,
        light-dark:#EDEDED,
        red: #CB3434,
        blue: #021B79,
        blueLight: #0575E6,
        purple: #58437B,
        purpleLight: #8754da,
        green: #008D42,
        gray:#b4b4b4,
        light: #ffff,
);
