@import "./assets/scss/main";
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: Overpass, 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


/**========= Content Placeholder ==========**/
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@for $i from 1 through 20 {
  .width-#{$i * 5} {
    width: $i * 5 * 1%;
  }
}

.linear-bg {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;

  &.text {
    height: 14px;
  }

  &.button {
    height: 40px;
    color: #b4b4b4;
    &.small {
      width: 80px;
    }
  }

  &.img {
    border-radius: 50%;
    &.small {
      width: 24px;
      height: 24px;
    }
    &.medium {
      width: 45px;
      height: 45px;
    }
    &.big {
      height: 80px;
      width: 80px;
    }
  }
}

.btn-lg, .btn-group-lg > .btn {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-primary {
  color: #eeeeee;

  &:hover,&:active,&:focus {
    color: #eeeeee;
  }
}

.btn-outline-primary:hover {
  color: #eeeeee;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.material-icons {
  height: 0;
}

small {
  color: #bf1650;
}

small::before {
  display: inline;
  content: "⚠ ";
}

.card-shadow {
  box-shadow: 5px 3px 10px 0px rgba(0,0,0,0.5)
}

.dropdown-toggle:after {
  border: 0;
}

.badge {
  padding: 0.5em 0.8em;
  font-size: 0.9em;
}

